<%- include("partials/header", {title: "All Movies"}) %>

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="./CSS/darkmode.css" rel="stylesheet">
    <title>Browse movies</title>
</head>
<style>
    ul {
        list-style-type: none;
        margin: auto;
        padding: auto;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: #d8dee9;
        text-decoration: none;
        padding: 8px;
        text-align: center;
        background-color: #4F5A69;
    }

    #allmovies {
        background-color: #48CFAD;
    }

    body {
        text-align: center;
        margin: auto;
        padding: 20px;
        font-size: 30px;
    }

    h1 {
        font-size: 30px;
        text-align: center;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<body class="nordtheme">
    <table>
        <% for (let movieRow of movies) { %>
        <tr>

            <% for (let movie of movieRow) { %>
            <td> <a href=<%= "/movie/" + movie.imdbID%>> <img src="<%= movie.Poster%>"> </a> </td>
            <% } %>
        </tr>
        <% } %>
    </table>
    <br>
    <% if (pageNumber > 0) { %>
    <a href="<%= "/movielist?pageNumber=" + (pageNumber - 1) + "&pageLength=" + (pageLength)%>">&lt</a>
    <% } %>
    <% if (pageNumber < totalPages - 1) { %>
    <a href="<%= "/movielist?pageNumber=" + (pageNumber + 1) + "&pageLength=" + (pageLength)%>">&gt</a>
    <% } %>
</body>