<!DOCTYPE html>
<html lang="en">
<%- include("partials/header", {title: user.name}) %>

<body class="nordtheme">
    <style>
        body {
            text-align: center;
            margin: auto;
            padding: 20px;
            font-size: 30px;
        }

        #myaccount {
            background-color: #48CFAD;
        }

        h1 {
            font-size: 30px;
            text-align: center;
        }
    </style>
    <br>
    <br>
    <img src="/Pictures/defaultpicture.jpeg" height=300px/>
    <table>
        <tr>
            <td> Name: <%= user.name %> </td>
        </tr>
        <tr>
            <td> Favorite Movie: <%= user.favouriteMovies %> </td>
        </tr>
        <tr>
            <td> Watchlist: <%= user.favouriteMovies %> </td>
        </tr>
        <tr>
            <td> Users following: <%= user.usersFollowing %> </td>
        </tr>
        <tr>
            <td> People following: <%= user.peopleFollowing %> </td>
        </tr>
    </table>
</body>