<!DOCTYPE html>
<html lang="en">
    <%- include("partials/header", {title: user.name}) %>

<body class="nordtheme">
    <style>
        body {
            text-align: center;
            margin: auto;
            padding: 20px;
            font-size: 30px;
        }

        h1 {
            font-size: 30px;
            text-align: center;
        }
    </style>
    <br>
    <br>
    <img src="/Pictures/defaultpicture.jpeg" height=300px/>
    <br>
    <br>
    <br>
    <br>
    <button id="followUser" class="login-button"><%= followingButtonText %></button>
    <table>
        <tr>
            <td> Name: <%= user.name %> </td>
        </tr>
        <tr>
            <td id="idDataCell" style="display: none"><%= user.userID%></td>
        </tr>
        <tr>
            <td> Favourite Movies: </td>
        </tr>
        <tr>
            <% for (let movie of user.favouriteMovies) { %>
        <tr>
            <td> <a href="<%= "/private/movie/" + movie%>"><%= movieNames[movie].Title %></a> </td>
        </tr>
            <% } %>
        </tr>
        <tr>
            <td> Watchlist: </td>
        </tr>
        <tr>
            <% for (let movie of user.watchlist) { %>
        <tr>
            <td> <a href="<%= "/private/movie/" + movie%>"><%= movieNames[movie].Title %></a> </td>
        </tr>
            <% } %>
        </tr>
        <tr>
            <td> People Following: </td>
        </tr>
        <tr>
            <% for (let person of user.peopleFollowing) { %>
        <tr>
            <td> <a href="<%= "/private/person/" + peopleNames[person].name%>"><%= peopleNames[person].name %></a> </td>
        </tr>
            <% } %>
        </tr>
        <tr>
            <td> Users Following: </td>
        </tr>
        <tr>
            <% for (let user1 of user.usersFollowing) { %>
        <tr>
            <td> <a href="<%= "/private/users/" + userNames[user1].userID%>"><%= userNames[user1].name %></a> </td>
        </tr>
            <% } %>
        </tr>
        <tr>
            <td> Reviews: </td>
        </tr>
        <tr>
            <% for (let review of user.reviews) { %>
        <tr>
            <td> <a href="<%= "/private/movie/" + review.movie + "/reviews"%>"><%= review.movie %></a> </td>
        </tr>
            <% } %>
        </tr>
    </table>
</body>
<script src="/logic.js"></script>